/*header*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.btn-primary {
  background-color: #e922ff;
  border-color: #e922ff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #7622f0;
  border-color: #7622f0;
  box-shadow: none;
}

.title-header {
  color: #e922ff;
  font-weight: 600;
  font-size: 90px;
  text-shadow: 0 0 0.1em #a737fa, 0 0 0.1em #a737fa, 0 0 0.1em #a737fa;
  font-family: "Bebas Neue", cursive;
  margin: 0;
  padding: 0;
}

.text-header {
  max-width: 300px;
  font-size: medium;
  font-family: "Josefin Sans", sans-serif;
}

/*merchandising section*/

.btn-merch {
  color: #7622f0;
}

.card {
  color: #04020f;
}

.card-body {
  display: inline-block;
  position: absolute;
}
.container-tickets {
  max-width: 960px;
}

@media (max-width: 576px) {
  .body-ticket {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
